<!-- 考籍转入历次-按地方统计统计页面 -->
<!--统计历次有外省转入到本省的考生-->
<!--	统计数据为历次转入的考籍-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>考籍转入历次-按地方统计</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    引入css文件-->
    <div th:replace="fragments/header::css"></div>
    <link rel="stylesheet" href="/css/timeliner.css">
    <link rel="stylesheet" href="/css/web.css">
</head>
<body>
<!--引入侧边栏框架-->

<div id="wrapper">
    <div class="overlay"></div>
    <div th:replace="fragments/home :: sidebar"></div>

    <div class="">
        <!--    内容框架-->

        <!--  页面标题栏  -->
        <div>
            <h2><center>考籍转入历次-按地方统计</center></h2>
            <hr>
        </div>

        <div id="page-content-wrapper" th:fragment="pagecontent">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <!-- 主题内容部分 -->
            <div class="container">
                <!--  栅格 84开  -->
                <div class="row">
                    <!-- 选择输入部分 -->
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-5 myselect_3">
                                <span>请选择统计地区：</span>
                            </div>

                            <div class="col-md-3">
                                <!-- 统计类型选择框 -->
                                <select  id="types" class="form-control myselect_1">
                                    <option value="">统计省/市</option>
                                    <option class="options" th:each="city:${citys}" th:value="${city}" th:text="${city}"></option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>


                        <!-- 确认按钮  -->
                        <div class="row">
                            <br>
                            <br>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-warning" >重置</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success" onclick="searchAllIn()">查询</button>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>


                    </div>
                    <!-- 中间留一点空格  -->
                    <div class="col-md-1">

                    </div>
                    <!-- 右边表格部分 -->
                    <div class="col-md-7" id="newDataContainer">
                        <div id="newData">
                            <table class="table table-bordered  table table-hover" >
                                <caption  style="text-align:center">本次考籍转出统计表</caption>
                                <tbody>
                                <tr>
                                    <td>考籍号</td>
                                    <td>姓名</td>
                                    <td>办理时间</td>
                                </tr>
                                <tr th:each="stuInOut:${stuInOutList}">
                                    <td th:text="${stuInOut.getExamCardNum()}"></td>
                                    <td th:text="${stuInOut.getName()}"></td>
                                    <td th:text="${stuInOut.getEndTime()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="myspan">
                                    <span>当前第 1 页</span>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-warning" >上一页</button>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success">下一页</button>
                                </div>
                            </div>

                            <br>
                            <br>


                            <!-- 查询结果页面数 -->
                            <div class="row">
                                <br>
                                <br>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8 ">
                                    共查询到符合条件的考生：<span th:text="${stuInfoCount}" style="color: red;font-size: 18px"></span> 位
                                </div>
                                <div class="col-md-2">
                                </div>

                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!--引入js文件-->
<div th:replace="fragments/header::js"></div>

<script>
    var cityCode = {
        11:"北京",
        12:"天津",
        13:"河北",
        14:"山西",
        15:"内蒙古",
        31:"上海",
        61:"陕西",
        65:"新疆",
    };
    window.onload = function () {
        var options = $(".options");
        for (var i=0;i<options.length;i++){
            var city = cityCode[options[i].value];
            options[i].innerText = city;
        }
    }
    function searchAllIn() {
        var selects = $("#types option:selected");
        var city = selects.val();
        console.log(city);
        if (city!==""){
            $.ajax({
                type: 'post',
                url: '/stuInfoInOut/statistic/stuInfoInBeforeStart',
                data:{cityCode:city},
                success: function (data) {
                    var html = $(data).find("#newData");
                    $("#newDataContainer").html(html)
                }
            });
        }
    }

</script>

</body>
</html>