<!-- 考生考籍非关键信息修改 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>考生考籍非关键信息修改</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    引入css文件-->
    <div th:replace="fragments/header::css"></div>
    <link rel="stylesheet" href="/css/timeliner.css">
</head>
<body>
<!--引入侧边栏框架-->

<div id="wrapper">
    <div class="overlay"></div>
    <div th:replace="fragments/home :: sidebar"></div>

    <div class="">
        <!--    内容框架-->

        <!--  页面标题栏  -->
        <div>
            <h2><center>考籍非关键信息修改</center></h2>
            <hr>
        </div>

        <div id="page-content-wrapper" th:fragment="pagecontent">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <!-- 主题内容部分 -->
            <div class="container">
                <!--  栅格 84开  -->
                <div class="row">
                    <!-- 左边留一点空隙 -->
                    <div class="col-md-1"></div>
                    <!-- 信息表格 -->
                    <div class="col-md-5">
                        <table class="table table-bordered  table table-hover">
                            <caption  style="text-align:center">考生基本信息</caption>
                            <tbody>
                            <tr>
                                <td>考生信息</td>
                                <td>华迪</td>
                            </tr>
                            <tr>
                                <td>身份证号</td>
                                <td>500XXX</td>
                            </tr>
                            <tr>
                                <td>原邮编</td>
                                <td>500XXX</td>
                            </tr>
                            <tr>
                                <td>原电子邮件</td>
                                <td>500XXX</td>
                            </tr>
                            <tr>
                                <td>原工作单位</td>
                                <td>500XXX</td>
                            </tr>
                            <tr>
                                <td>身体状况</td>
                                <td>500XXX</td>
                            </tr>
                            <tr>
                                <td>原户籍地编码</td>
                                <td>500XXX</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 信息提交栏 -->
                    <div class="col-md-4">
                        <div class="container">
                            <form class="form-horizontal">

                                <!-- 右边的修改输入框，记得改每个每个输入框的id -->
                                <div class="form-group">
                                    <label  class=" col-md-2 control-label">新电话号码：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control  myinput_3" id="input" placeholder="新电话号码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 control-label">新地址：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control myinput_3" id="input1" placeholder="新地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 control-label">新邮编：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control myinput_3" id="input2" placeholder="新邮编">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 control-label">新电子邮件：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control myinput_3" id="input3" placeholder="新电子邮件">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 control-label">新工作单位：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control myinput_3" id="input4" placeholder="新工作单位">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 control-label">身体状况：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control myinput_3" id="input5" placeholder="身体状况">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-2 control-label">新户籍邮编：</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control myinput_3" id="input6" placeholder="新户籍邮编">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 右边留一点空隙 -->
                    <div class="col-md-2"></div>
                </div>

                <!-- 按钮层  -->
                <div class="row">
                    <!-- 左边留一点空隙 -->
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning ydr" >重置</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success">提交申请</button>
                    </div>
                    <!-- 右边留一点空隙 -->
                    <div class="col-md-2"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--引入js文件-->
<div th:replace="fragments/header::js"></div>

<script>
    $(function(){
        //清空form表单下的输入框
        $('.ydr').on('click', function () {
            $(':input','form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
        });
    })
</script>

</body>
</html>