<!-- 考籍信息查询页面  -->
<!-- 测试页面 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>考籍信息查询</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    引入css文件-->
    <div th:replace="fragments/header::css"></div>
    <link rel="stylesheet" href="/css/timeliner.css">
    <link rel="stylesheet" href="/css/web.css">
</head>
<body>
<!--引入侧边栏框架-->

<div id="wrapper">
    <div class="overlay"></div>
    <div th:replace="fragments/home :: sidebar"></div>

    <div class="">
        <!--    内容框架-->

        <!--  页面标题栏  -->
        <div>
            <h2><center>考籍查询</center></h2>
            <hr>
        </div>

        <div id="page-content-wrapper" th:fragment="pagecontent">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <!-- 主题内容部分 -->
            <div class="container">
                <!--  栅格 84开  -->
                <div class="row">
                    <!-- 选择输入部分 -->
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-10 myselect_1">
                                <span>请选则查询条件：</span>
                            </div>

                            <div class="col-md-6">
                                <select class="form-control myselect_2">
                                    <option>按考生准考证号查询</option>
                                    <option>考次2</option>
                                    <option>考次3</option>
                                    <option>考次4</option>
                                    <option>考次5</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>

                        <form >
                            <div class="row">

                                <div class="col-md-10 myselect_1">
                                    <span>请输入：</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control myselect_2" placeholder="Text input">
                                </div>

                            </div>

                        </form>


                        <!-- 确认按钮  -->
                        <div class="row">
                            <br>
                            <br>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-warning ydr" >重置</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success">查询</button>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>

                    </div>
                    <!-- 中间留一点空格  -->
                    <div class="col-md-1">

                    </div>
                    <!-- 右边表格部分 -->
                    <div class="col-md-7">
                        <table class="table table-bordered  table table-hover">
                            <caption  style="text-align:center">考生考籍信息表</caption>
                            <tbody>
                            <tr>
                                <td>准考证号</td>
                                <td>考生姓名</td>
                                <td>考生成绩</td>
                                <td>考试时间</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="myspan">
                                <span>当前第 1 页</span>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-warning" >上一页</button>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-success">下一页</button>
                            </div>
                        </div>

                        <!-- 选择考生类型 -->
                        <div class="row">
                            <div>
                                <br>
                                <br>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10 myselect_1">
                                    <span>请选取考生类型：</span>
                                </div>

                                <div class="col-md-6">
                                    <select class="form-control myselect_1">
                                        <option>在籍考生查询</option>
                                        <option>毕业生预提查询</option>
                                        <option>毕业生查询</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <!-- 确认导入按钮 -->
                        <div class="row">
                            <br>
                            <br>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-warning" >取消</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success">查询</button>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!--引入js文件-->
<div th:replace="fragments/header::js"></div>

<script>
    $(function(){
        //清空form表单下的输入框
        $('.ydr').on('click', function () {
            $(':input','form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
        });
    })
</script>

</body>
</html>