<!-- 毕业证学籍档案领取地点查询-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>毕业证学籍档案领取地点查询</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    引入css文件-->
    <div th:replace="fragments/header::css"></div>
    <link rel="stylesheet" href="/css/timeliner.css">
    <link rel="stylesheet" href="/css/web.css">
</head>
<body>
<!--引入侧边栏框架-->

<div id="wrapper">
    <div class="overlay"></div>
    <div th:replace="fragments/home :: sidebar"></div>

    <div class="">
        <!--    内容框架-->

        <!--  页面标题栏  -->
        <div>
            <h2><center>考生毕业证学籍信息</center></h2>
            <hr>
        </div>

        <div id="page-content-wrapper" th:fragment="pagecontent">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <!-- 主题内容部分 -->
            <div class="container">
                <!--  栅格 84开  -->
                <div class="row">
                    <!-- 选择输入部分 -->
                    <div class="col-md-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-10 myselect_1">
                                <span style="color: white;font-size: medium">毕业证领取地点:</span>
                            </div>
                             <!--这个span用于显示考生领取毕业证的地方-->
                            <div class="col-md-6">
                                <span id="CertificateReceivingposition">请考生到<span th:text="${signUpInfo.getRegionCode()}"></span>区域领取毕业学籍档案</span>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>


                    </div>
                    <!-- 中间留一点空格  -->
                    <div class="col-md-1">

                    </div>
                    <!-- 右边表格部分 -->
                    <div class="col-md-8">
                        <!-- 表单内容 -->

                        <table class=" table "  border="2">
                            <caption  style="text-align:center">考生毕业证学籍信息表</caption>
                            <tr>
                                <td align="center">姓名</td><td align="center" th:text="${zhEnGradesProof.getName()}">XXX</td><td align="center">英文名</td><td align="center" th:text="${studentInfo.getEnglishName()}">XXX</td><td align="center">出生日期</td><td  align="center" th:text="${studentInfo.getBirthday()}">XXX</td><td rowspan="5" colspan="2" align="center">
                            </tr>
                            <tr>
                                <td align="center">性别</td><td align="center" th:text="${studentInfo.getSex()}">XXX</td><td align="center">民族</td><td align="center" th:text="${studentInfo.getNation()}">XXX</td><td align="center">政治面貌</td><td  align="center" th:text="${studentInfo.getNation()}">XXX</td>
                                <img src="" alt=""></td>
                            </tr>
                            <tr>
                                <td align="center">工作</td><td  align="center" th:text="${studentInfo.getJob()}">XXX</td><td align="center">户籍地</td><td  align="center" th:text="${studentInfo.getCensusPlace()}">XXX</td><td align="center">邮政编码</td><td align="center" th:text="${studentInfo.getPostCode()}">XXX</td>
                            </tr>
                            <tr>
                                <td align="center">准考证号</td><td  align="center" th:text="${signUpInfo.getExamCardNum()}">XXX</td><td align="center">学号</td><td  align="center" th:text="${signUpInfo.getStudentId()}">XXX</td><td align="center">身份证号</td><td align="center" th:text="${studentInfo.getIdCardNum()}">XXX</td>
                            </tr>
                            <tr>
                                <td  align="center">健康状况</td><td  align="center" th:text="${studentInfo.getHealth()}">XXX</td><td align="center">学位</td><td align="center" th:text="${studentInfo.getDegree()}">XXX</td><td align="center">学生类型</td><td align="center" th:text="${studentInfo.getStudentType()}">XXX</td>
                            </tr>
                            <tr>
                                <td  align="center">学生居住地址</td><td colspan="7" align=" center" th:text="${studentInfo.getAddress()}">XXX</td>
                            </tr>
                            <tr>
                                <td  align="center">考业编号</td><td  align="center" th:text="${signUpInfo.getMajorNum()}">XXX</td><td align=" center">专业名</td><td align=" center" th:text="${zhEnGradesProof.getMajorName()}">XXX</td><td align="center">考次</td><td align="center" th:text="${signUpInfo.getExamNum()}">XXX</td><td align="center">入学时间</td><td align="center" th:text="${signUpInfo.getSignUpDate()}">XXX</td>
                            </tr>
                            <tr>
                                <td  align="center">学校名称</td><td  align="center" th:text="${signUpInfo.getSignUpSchool()}">XXX</td><td align="center">入学类型</td><td align="center" th:text="${signUpInfo.getSignUpType()}">XXX</td><td align="center">毕业时间</td><td align="center" th:text="${zhEnGradesProof.getgDate()}">XXX</td><td align="center">毕业证编号</td><td align="center" th:text="${graduateCert.getGraduateId()}">XXX</td>
                            </tr>
                            <tr>
                                <td  align="center">电话号码</td><td colspan="3" align="center" th:text="${studentInfo.getPhoneNumber()}">XXX</td><td align="center">电子邮箱</td><td  colspan="3" align="center" th:text="${studentInfo.getEmail()}">XXX</td>
                            </tr>
                            <tr>
                                <td  align="center">序号</td><td  align="center">课程编号</td><td colspan="2" align="center">课程名称</td><td colspan="2" align="center">course name</td><td  align="center">成绩</td><td  align="center">成绩类型</td>
                            </tr>
                            <tr th:each="ls:${list}">
                                <td  align="center" th:text="${ls.getIndex()}"></td><td  align="center" th:text="${ls.getCourseCode()}"></td><td colspan="2" align="center" th:text="${ls.getCourseName()}"></td><td colspan="2" align="center" th:text="${ls.getEnCourseName()}"></td><td  align="center" th:text="${ls.getGrades()}"></td><td  align="center" th:text="${ls.getGradeType()}"></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--引入js文件-->
<div th:replace="fragments/header::js"></div>


</body>
</html>