<!-- 前置学历审核申请 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>前置学历审核申请</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    引入css文件-->
    <div th:replace="fragments/header::css"></div>
    <link rel="stylesheet" href="/css/timeliner.css">
    <link rel="stylesheet" href="/css/web.css">
</head>
<body>
<!--引入侧边栏框架-->

<div id="wrapper">
    <div class="overlay"></div>
    <div th:replace="fragments/home :: sidebar"></div>

    <div class="">
        <!--    内容框架-->

        <!--  页面标题栏  -->
        <div>
            <h2><center>前置学历审核申请</center></h2>
            <hr>
        </div>

        <div id="page-content-wrapper" th:fragment="pagecontent">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <!-- 主题内容部分 -->
            <div class="container">
                <!--  栅格 84开  -->
                <div class="row">
                    <!-- 选择输入部分 -->
                    <div class="col-md-7">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <form th:action="@{/graduation/studentNeed/preQualificationReviewApplication}" method="post">
                            <div class="row">
                                <div class="col-md-12 myselect_2">
                                    <span>请选择专科专业大类：</span>
                                </div>

                                <div class="col-md-4">
                                    <select class="form-control myselect_2" name="MajorName">
                                        <option>计算机</option>
                                        <option>通信工程</option>
                                        <option>软件工程</option>
                                        <option>机械工程</option>
                                        <option>电子工程</option>
                                    </select>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                            <!-- 输入框  -->
                            <div class="row">
                                    <div class="col-md-12 myselect_2">
                                        <span>请输入专科毕业证编号：</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control myselect_2" placeholder="请输入正确的准考证号..." name="ExamCardNum">
                                    </div>
                            </div>
                            <!-- 确认按钮  -->
                            <div class="row">
                                <br>
                                <br>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-warning ydr" >重置</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="submit btn btn-success">提交申请</button>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==-1}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>输入不能为空！！！
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==0}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>该考生不存在，请核实后再查询
                            </div>

                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==1}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>申请专业方向与所修专业不符合，请核实再申请
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==2}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>专业类型不符合要求，请核实后再申请
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==3}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>该考生成绩未全部通过，还未具备申请资格
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==4}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>已提交申请，请不要重复提交
                            </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${status==5}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>警告：</strong>你已有申请已审核，不用再次提交
                            </div>
                            <div class="alert alert-success alert-dismissible" role="alert" th:if="${status==6}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="width: 10px;height: 10px;top: -10px;right: -5px;"><span aria-hidden="true">&times;</span></button>
                                <strong>成功：</strong>申请提交成功,等待审核....
                            </div>
                        </form>
                    </div>
                    <!-- 中间留一点空格  -->
                    <div class="col-md-1">

                    </div>
                    <!-- 右边时间轴部分 -->
                    <div class="col-md-4">
                        <div class="container">
                            <ul class="time-vertical">
                                <li><b></b><span>1</span><a href="javascript:void(0)">个人申请</a></li>
                                <li><b></b><span>2</span><a href="javascript:void(0)">省考试院考籍岗线下审核</a></li>
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!--引入js文件-->
<div th:replace="fragments/header::js"></div>


<!-- JavaScript部分 -->
<script>
    $(function(){
        //清空form表单下的输入框
        $('.ydr').on('click', function () {
            $(':input','form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
        });
    })
</script>
</body>
</html>