<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.RollInApplyMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.RollInApply" >
    <id column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="exam_card_num" property="examCardNum" jdbcType="VARCHAR" />
    <result column="apply_code" property="applyCode" jdbcType="VARCHAR" />
    <result column="roll_in_time" property="rollInTime" jdbcType="VARCHAR" />
    <result column="roll_in_major_num" property="rollInMajorNum" jdbcType="VARCHAR" />
    <result column="roll_out_reason" property="rollOutReason" jdbcType="VARCHAR" />
    <result column="apply_state" property="applyState" jdbcType="INTEGER" />
    <result column="check_person" property="checkPerson" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    apply_id, exam_card_num, apply_code, roll_in_time, roll_in_major_num, roll_out_reason, 
    apply_state, check_person, result, start_date, end_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from roll_in_apply
    where apply_id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roll_in_apply
    where apply_id = #{applyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.RollInApply" >
    insert into roll_in_apply (apply_id, exam_card_num, apply_code, 
      roll_in_time, roll_in_major_num, roll_out_reason, 
      apply_state, check_person, result, 
      start_date, end_date)
    values (#{applyId,jdbcType=INTEGER}, #{examCardNum,jdbcType=VARCHAR}, #{applyCode,jdbcType=VARCHAR}, 
      #{rollInTime,jdbcType=VARCHAR}, #{rollInMajorNum,jdbcType=VARCHAR}, #{rollOutReason,jdbcType=VARCHAR}, 
      #{applyState,jdbcType=INTEGER}, #{checkPerson,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, 
      #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.RollInApply" >
    insert into roll_in_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="examCardNum != null" >
        exam_card_num,
      </if>
      <if test="applyCode != null" >
        apply_code,
      </if>
      <if test="rollInTime != null" >
        roll_in_time,
      </if>
      <if test="rollInMajorNum != null" >
        roll_in_major_num,
      </if>
      <if test="rollOutReason != null" >
        roll_out_reason,
      </if>
      <if test="applyState != null" >
        apply_state,
      </if>
      <if test="checkPerson != null" >
        check_person,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="examCardNum != null" >
        #{examCardNum,jdbcType=VARCHAR},
      </if>
      <if test="applyCode != null" >
        #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="rollInTime != null" >
        #{rollInTime,jdbcType=VARCHAR},
      </if>
      <if test="rollInMajorNum != null" >
        #{rollInMajorNum,jdbcType=VARCHAR},
      </if>
      <if test="rollOutReason != null" >
        #{rollOutReason,jdbcType=VARCHAR},
      </if>
      <if test="applyState != null" >
        #{applyState,jdbcType=INTEGER},
      </if>
      <if test="checkPerson != null" >
        #{checkPerson,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.RollInApply" >
    update roll_in_apply
    <set >
      <if test="examCardNum != null" >
        exam_card_num = #{examCardNum,jdbcType=VARCHAR},
      </if>
      <if test="applyCode != null" >
        apply_code = #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="rollInTime != null" >
        roll_in_time = #{rollInTime,jdbcType=VARCHAR},
      </if>
      <if test="rollInMajorNum != null" >
        roll_in_major_num = #{rollInMajorNum,jdbcType=VARCHAR},
      </if>
      <if test="rollOutReason != null" >
        roll_out_reason = #{rollOutReason,jdbcType=VARCHAR},
      </if>
      <if test="applyState != null" >
        apply_state = #{applyState,jdbcType=INTEGER},
      </if>
      <if test="checkPerson != null" >
        check_person = #{checkPerson,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
    </set>
    where apply_id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.RollInApply" >
    update roll_in_apply
    set exam_card_num = #{examCardNum,jdbcType=VARCHAR},
      apply_code = #{applyCode,jdbcType=VARCHAR},
      roll_in_time = #{rollInTime,jdbcType=VARCHAR},
      roll_in_major_num = #{rollInMajorNum,jdbcType=VARCHAR},
      roll_out_reason = #{rollOutReason,jdbcType=VARCHAR},
      apply_state = #{applyState,jdbcType=INTEGER},
      check_person = #{checkPerson,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR}
    where apply_id = #{applyId,jdbcType=INTEGER}
  </update>

  <resultMap id="RollInHelper" type="com.example.demo.model.helper.StuInfoInOutHelper">
    <result column="exam_card_num" property="examCardNum" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_code" property="rollOutCity" jdbcType="VARCHAR" />
    <result column="apply_code" property="rollInCity" jdbcType="VARCHAR" />
    <result column="end_date" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryAllStuRollInByCityCode" resultMap="RollInHelper">
    SELECT r.`exam_card_num`,st.`name`,si.`city_code`,r.`apply_code`,r.`end_date`
FROM roll_in_apply r,student_info st,sign_up_info si
WHERE st.`info_state`=4 AND si.`student_id` = st.`student_id` AND r.`exam_card_num` = si.`exam_card_num`
AND r.`result`=1 AND si.`city_code`=#{cityCode}
<if test="examNum!=''">
  AND si.`exam_num`=#{examNum}
</if>
  </select>

  <select id="queryAllRollInByState" resultMap="BaseResultMap">
    select *
    from roll_in_apply
    where apply_state=#{applyState}
  </select>

  <update id="updateRollInState">
    update roll_in_apply
    set apply_state = #{applyState}
        <if test="checker !=''">
          ,check_person = #{checker}
        </if>
        <if test="endDate !=''">
          ,end_date = #{endDate}
        </if>

    where apply_id = #{applyId}
  </update>
  <update id="updateRollInStateEnd">
    update roll_in_apply
    set apply_state = #{applyState},
        result = #{result},
        end_date = #{endDate}
    where apply_id = #{applyId}
  </update>
</mapper>