<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    引入css文件-->
    <div th:replace="fragments/header::css"></div>
</head>
<body>
<!--引入侧边栏框架-->

<div id="wrapper" >
    <div class="overlay"></div>
        <div th:replace="fragments/home :: sidebar"></div>

<div class="" >
<!--    内容框架-->
    <div th:replace="fragments/home::pagecontent">

    </div>
</div>
</div>
<!--引入js文件-->
<div th:replace="fragments/header::js"></div>

</body>

</html>